.mg-top-50{
  margin-top: 50px;
}

#signature-pad{
  height: 400px;
  width: 100%;
}

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  text-align: center;
}

.signature-component {
  max-height: 100%;
  max-width: 100%;
}
.signature-component button {
  padding: 1em;
  margin-top: 1em;
}
.signature-component canvas {
  display: block;
  position: relative;
  border-bottom: 1px solid;    
}
.signature-component img {
  position: absolute;
  left: 0;
  top: 0;
}