<!doctype html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>App</title>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>

	<link rel="stylesheet" href="css/style.css">

	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controller.js"></script>

</head>
<body>
	<nav>
		 <div class="nav-wrapper">
			 <a href="#" class="brand-logo center">Teste Signature Pad</a>
		 </div>
	</nav>

	<div class="container mg-top-50" ng-controller="mainController">
		<section class="signature-component">
			<canvas id="signature-pad"></canvas>
		
			<div>
				<button ng-click="clearSignature()">limpar</button>
			</div>
		</section>
	</div>

</body>
</html>
